<h1>Welcome to the Social Network</h1>

<% if @current_user %>

  <div>
    Welcome, <%= @current_user.email %>
    <a href="/logout">Logout</a><br>
	<a href="/users/<%= @current_user[:id] %>/edit">Edit profile</a><br>
	<a href="http://localhost:3000/users/">View Other's Profiles</a>
  </div>

<% else %>

  <div>
    <a href='/signup'>Signup</a> |
    <a href='/login'>Login</a>
  </div>
<% end %>

