<h1>Welcome to Social Network</h1>

<% if @current_user %>
  <div>
    Welcome, <%= @current_user.email %>.
    <a href="/logout">Logout</a>
  </div>
<% else %>
  <div>
    <a href='/signup'>Signup</a> |
    <a href='/login'>Login</a>
  </div>
<% end %>